
{% block title %}
Event
{% endblock %}
{% block content %}
<div class="clearfix">
  <a class="btn info" href="{% url 'events:calendar' %}"> Calendar </a>
</div>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<body>
<style>
    </style>
<div class="container">
<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    <label for="first_name">Event Title:</label>
    <div class="form-group">
        {{ form.title}}
    </div>
    <label for="second_name">Venue:</label>
    <div class="form-group">
        {{ form.venue}}
    </div>
    <label for="second_name">Description:</label>
    <div class="form-group">
        {{ form.description}}
    </div>
    <label for="gender">Start_Time:</label>
    <div class="form-group">
        {{ form.start_time}}
    </div>
    <label for="email">End_Time:</label>
    <div class="form-group">
         {{ form.end_time}}
     </div>
    <tr><td colspan="2"><button type="submit" class="register"> Submit </button></td></tr>
  </table>
</form></div>
<style>
    .calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}
</style>
</body>
</html>
{% endblock %}
