<!DOCTYPE html>
{% include 'navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Student details</title>
</head>
<body>
  <h1>STUDENT LIST</h1>
  <table class="student">
      <tr>
        <th>Edit student profile</th>
        <th>Profile</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>County or District</th>
        <th>Profile</th>
        <th>Date of birth</th>
        <th>Roll Number</th>
        <th>Gurdians name</th>
        <th>National ID</th>
        <th>Language</th>
        <th>Laptop Number</th>
        <th>Grade</th>
        <th>Gender</th>
        <th>Medical report</th>

          
      </tr>
      <tr>
        {% for student in students %}
        <td> <a href="{% url 'edit_student' id=student.id %}">Edit profile</a></td>
        <td> <a href="{% url 'student_profile' id=student.id %}">Profile</a></td>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.age}}</td>
        <td>{{student.county_district}}</td>
        {% if student.profile %}
        <td><img src="{{student.profile.url}}"height="50" width="50"/></td>
        {% endif %}
        <td>{{student.date_of_birth}}</td>
        <td>{{student.roll_number}}</td>
        <td>{{student.gurdians_name}}</td>
        <td>{{student.national_id}}</td>
        <td>{{student.language}}</td>
        <td>{{student.laptop_number}}</td>
        <td>{{student.grade}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.medical_report}}</td>
        
      </tr>
     {% endfor %}
      

  </table> 
  
  <style>

body{
  background-color:white;
}
table{
    width: 100%;
    margin: auto;
    text-align: center;
    table-layout:auto;
}
table,tr,th,td{
    padding: 5px;
    color:black;
    border: 2px solid purple;
    border-collapse: collapse;
    font-size: 15px;
    font-style: serif;
    text-align: center;
    /* margin-top: 3px; */
}
h1{
    text-align: center;

    color: purple;
    
}
th{
  color: purple;
  background-color:white;
}
  </style>
</body>
</html>