<!DOCTYPE html>
{% include 'navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Student details</title>
</head>
<body>
  <h1>TRAINER LIST</h1>
  <table class="student">
      <tr>
        <th>Profile</th>
        <th>Edit pfofile</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Gender</th>
        <th>Email address</th>
        <th>Bio</th>
        <th>Class name</th>
        <th>Date of hire</th>
        <th>Age</th>
        <th>Profile</th>
        <th>County or district</th>
        <th>National Id</th>
        <th>Language</th>
        <th>Contract</th>
          
      </tr>
      <tr>
        {% for trainer in trainers %}
        <td> <a href="{% url 'trainer_profile' id=trainer.id %}">Profile</a></td>
        <td> <a href="{% url 'edit_trainer' id=trainer.id %}">Edit profile</a></td>
        <td>{{trainer.first_name}}</td>
        <td>{{trainer.last_name}}</td>
        <td>{{trainer.gender}}</td>
        <td>{{trainer.email_adress}}</td>
        <td>{{trainer.bio}}</td>
        <td>{{trainer.class_name}}</td>
        <td>{{trainer.date_of_hire}}</td>
        <td>{{trainer.age}}</td>
        {% if trainer.profile %}
        <td><img src="{{trainer.profile.url}}"height="100" width="100"/></td>
        {% endif %}
        <td>{{trainer.county_district}}</td>
        <td>{{trainer.national_id}}</td>
        <td>{{trainer.language}}</td>
        <td>{{trainer.contract}}</td>
        
      </tr>
        {% endfor %}

       
      

  </table> 
  
  <style>


body{
  background-color:white;
}
table{
    width: 100%;
    margin: auto;
    text-align: center;
    table-layout:auto;
}
table,tr,th,td{
    padding: 5px;
    color:black;
    border: 2px solid purple;
    border-collapse: collapse;
    font-size: 15px;
    font-style: serif;
    text-align: center;
    /* margin-top: 3px; */
}
h1{
    text-align: center;

    color: purple;
    
}
th{
  color: purple;
  background-color:rgb(227, 216, 238);
}

  
  </style>
</body>
</html>