<!DOCTYPE html>
{% include 'navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>PROFILE</h1>
    <div class="card">
    {% if trainer.profile %}
    <img src="{{trainer.profile.url}}"height="200" width="400"/>
    {% endif %}
    <h2>{{trainer.full_name}}</h2>
    <h3>{{trainer.age}} years old</h3>
    <h3>From {{trainer.county_district}}</h3>
    <h3>From {{trainer.class_name}}</h3>
    <h3>Date of hire :{{trainer.date_of_hire}}</h3>
    <h3>Guardian :{{student.gurdians_name}}</h3>
    <h3>Id no:{{trainer.national_id}}</h3>
    <h3>Language :{{trainer.language}}</h3>
    <h3>Email adress:{{trainer.email_adress}}</h3>
    <h3>Gender :{{trainer.gender}}</h3>
    <h3>Contract :{{trainer.contract}}</h3>
</div>
<style>
.card {
  box-shadow: 0 17px 20px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-size: 10px;
  color: purple;
  
}
img{
    border-radius: 130%;
}
  
    body{
        align-items: center;
    }
h1{
    text-align: center;
    color: purple;
}
h2{
font-weight: bold;
}

</style>

    


</body>
</html>